<h1>Restaurants</h1>

<table>
 <tr>
   <th>Name</th>
   <th>Description</th>
   <th>Reviews</th>
   <th>Average Rating</th>
 </tr>

 <% @restaurants.each do |restaurant| %>
 <tr>
   <td><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></td>
   <td><%= restaurant.description %></td>

   <td id="reviews"><% restaurant.reviews.each do |review| %>
     <%= review.comment %> (<%= review.rating %>)

   <% end %>
 </td>
<td><p class="small"><%=  restaurant.reviews.average(:rating).to_i %>/5</p></td>


 </tr>
 <% end %>
</table>

<%= link_to 'Add New Restaurant', new_restaurant_path %>
