<section>
  <div>
      <h1><%= @restaurant.name %></h1>
      <h4>Average rating: <%=  @restaurant.reviews.average(:rating).to_i %>/5</h4>
      <p class="description"><%= @restaurant.description %></p>

      <p class="small"><%= link_to "Remove", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: 'Are you sure?' } %> |

      <%= link_to "Edit", edit_restaurant_path(@restaurant) %></div>

</section>

<section>
  <h3><%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %></h3>
  <table id='reviews'>
    <tr>
      <th>Reviewer</th>
      <th>Rating:</th>
      <th>Comments:</th>
    </tr>
   <% @restaurant.reviews.each do |review| %>
    <tr>
      <td class="reviewer"><%= User.find(review.reviewer_id).email %></td>
      <td class="rating<%=review.id %>"><%= review.rating %></td>
      <td class="review<%=review.id %>"><%= review.comment  %></td>

      <% if User.find(review.reviewer_id) == current_user %>
        <td class="small" colspan='3'><%= link_to "Remove Review", restaurant_review_path(@restaurant.id, review.id),
           method: :delete,
           data: { confirm: 'Are you sure?' },
           id: "remove_review_#{review.id}" %> |
        <%= link_to "Edit", edit_restaurant_review_path(@restaurant.id, review.id) %></td>
        <% end %>
    </tr>
   <% end %>
  </table>

</section>
<%= link_to '<< Back', restaurants_path %>
