<!DOCTYPE html>
<html>
  <head>
    <title>Bleat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--Google Fonts-->
<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Josefin+Sans:300|Karma|Source+Sans+Pro:300', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless current_page?(user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
      <%=  render 'devise/menu/login_items'  %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
